# Tuple :-    
           Anything weitten inside round bracket () and each element are separated by comma.

# Creating Tuple
# if you have already know the elements.
# Collecting input from user
# Type Casting
# Tuple Packing & Tuple Un-Packing

In [ ]:
#  if you have already know the elements.

a = (32,54,23,43)
print(a,type(a))

In [ ]:
#  Collecting input from User

a = input("Enter tuple elements : ") # input from user by defaults is the string data type.
print(a,type(a))

In [ ]:
#  Collecting input from User
# after using eval function user enter data can use tuple bracket () or can not use tuple beacket.It is choice of user and also this type data by defaults tuple data type.

a = eval(input("Enter tuple elements : ")) # input from user by defaults is the tuple data type.
print(a,type(a))

# Type Casting
* convert data 1 data type to another data type

In [ ]:
 a = 'hello world'
 print(a,type(a)) # str data type

 b = list(a)
 print(b,type(b)) # list data type

 c = tuple(a)
 print(c,type(c)) # tuple data type

 d = set(a)        # set data type
 print(d,type(d))

In [ ]:
 list = [1,2,3,4,5]
numer = tuple(list)
print(numer,type(numer))

In [ ]:
a = '123456'
b = tuple(a)
print(b,type(b))

# Tuple Packing & Tuple Unpacking

# Tuple packing

* Assining multiple value in a single variable

In [ ]:
# Tuple packing

a = 1,2,3,4,5 # Assining multiple value without round bracket /by defaults tuple data type
print(a,type(a))

In [ ]:
 a = (1,2,3,4,5) # Assining multiple value with round bracket
 print(a,type(a))

In [ ]:
a = 'abc','xyz','pqr'
print(a,type(a))

b = ('abc','xyz','pqr')
print(b,type(b))

c = " 'abc','xyz','pqr' " # this useing "       " & this is string data type
print(c,type(c))

# Tuple Unpacking

* Assining multiple value to mu;tiple variable
* LHS == RDS [ LEFT HANDS SIDE == RIGHT HANDS SIDE ]
* Mach variable = mach value

In [ ]:
A = "SACHIN", 47,528.79
print(A,type(A))

In [ ]:
A ,B,C = "SACHIN", 47,528.79
print(A,type(A))
print(B,type(B))
print(C,type(C))

In [ ]:
A,B,C,D = "SACHIN", 47,528.79 # not mach var == value
print(A,type(A))
print(B,type(B))
print(C,type(C))
print(D,type(D))

In [ ]:
A,B,C, = "SACHIN", 47,528.79,a  # not mah var == value
print(A,type(A))
print(B,type(B))
print(C,type(C))
print(D,type(D))

# Propeties of Tuple

* it is an immutable
* it is an sequence data type ( allowed indexing or slicling)
* it allows duplication
* it can stored hetrogenous data type ( diffrent data type can stoer )
* apply only 2 function - count(),index()
* basic operator performs - concatination,repetation,membership,identity operatos

In [ ]:
 a = 32,64,9,52,52,7,45,45,65,95,5,62,45
 a.count(45) # count of Number

In [ ]:
a = 32,64,9,52,52,7,45,45,65,95,5,62,45
print(a.index(45)) # indexing first occurance

print('------->')
print(a[-4])      # nagative indexing value

In [ ]:
a = 32,64,9,52,52,7,45,45,65,95,5,62,45
print(len(a))

# Dictionary

* It is collections of key & Value pair all this value stored curly bracket {}

In [ ]:
a = {'name':'sachin','age':47,'city':'mumbai'}  # key & value pair written inside curly bracket {}
print(a,type(a))

# Creating a Dictionary

# 1) if you have know the elements
# 2) collecting input from user ( User has tp provided data proper syntax only then python work)
# 3) Type Casting

In [ ]:
# if you have know the elements
a = {'name':'sachin','age':47,'city':'mumbai'}  # key & value pair written inside curly bracket {}
print(a,type(a))

In [ ]:
# collecting input from user ( User has tp provided data proper syntax only then python work)
a = eval(input("Enter Dictionary : ")) # ( User has tp provided data proper syntax only then python work)
print(a,type(a))

# Type Casting
# Convert 1 data type to another data type
- (Directly str & list cant convert into dictionary data type )

- Syntax in Dictionary
# A Sequence inside sequence
* The outer sequence can be list or tuple
* The inner sequence can be list or tuple
 (Directly str data type & list data type cant convert into dictionary data

# Zip Method :
* We have strugling to create dictionary data type
*

In [ ]:
a = [[45,43] , ('b' , 43)]
dict(a)
print(a,type(a))

In [ ]:
List_1 = ['name','age','city']
List_2 = ['sachin',47,'mumbai']
a = dict(zip(List_1,List_2))
print(a,type(a))

In [ ]:
List_1 = ('name','age','city')
List_2 = ['sachin',47,'mumbai']
a = tuple(zip(List_1,List_2))
print(a,type(a))

In [ ]:
_1 = ('name','age','city')
_2 = ['sachin',47,'mumbai']
a = list(zip(_1,_2))
print(a,type(a))

In [ ]:
L1 = ( 'EMP_NAME','EMP_CODE','EMP_DEP')
L2 = ['SACHIN',522706,'COLLECTIONS']
a = dict(zip(L1,L2))
print(a,type(a))
print(len(a))

In [ ]:
emp_id = input("Enter Employee Id : ").split(',')
salary = eval(input("Enter Employee Salary : "))

dict(zip(emp_id,salary))

In [ ]:
Sudent_Name = input("Enter Sudent Name : ").split(',')
Sudent_Mark = eval(input("Enter Sudent Mark : "))

print(Sudent_Name)
print(Sudent_Mark)

dict(zip(Sudent_Name,Sudent_Mark))

# Prppeties of Dictionary

* It is an collections of Key and a Value pair
* A key and his Value seprated by colon :
* A key and his Value is a consider 1 iteam, each 1 item are separated by comma ,
* A key can not duplicated
* A value can duplicated
* A key can not mutable data type
* Value can be anything mutable or immutable
* It is not sequence data type ( Hence you can perform indexing or scling cancatenation, repetation.)
* Memership opreators are possible on only key
* identify opreatos are possible
# Dictionary written insde curly bracket {} and each iteam separated by comma.

In [ ]:
# A key and his Value is a consider 1 iteam, each 1 item are separated by comma ,
# Akey and his Value seprated by colon :


 {'ame':'sachin','age':47,'city':'mumbai'}   # Dictionary Syntax

In [ ]:
# small latter string convertinto  dictonary and first latter of words capital

a = "name sachin age 47 city mumbai"
print(len(a))
b = a.title( ) # first letter of words capital
c = b.split( ) # string convert by defaults into list using split function

print('--------->')
print(b)
print(c)
print('--------->')

list = c[0], c[2], c[4]
l = c[1], c[3], c[5]
print(list)
print(l)

print('--------->')
ML = dict(zip(list,l))
print(ML,type(ML))
print(len(ML))

In [ ]:
# A key con not duplicated

a = {'Name': 'Sachin', 'Age': '47', 'City': 'Mumbai','Name': 'More'} #key is duplicate  latest value will be updated  * 'Name': 'More' & No error
print(a,type(a))

In [ ]:
# A Value conbe  duplicated is allowed

b = {'Name': 'Sachin', 'Age': '47', 'City': 'Mumbai','Name_1': 'sachin'}    # Value duplicate is allowed
print(b,type(b))

In [ ]:
# Key cant mutable data type

In [ ]:
## A Key can be ( A Key is immutable data type )
# - int
# - str
# - float
# - complex
# - Boolen
# - tuple
# - None

## A Key can not be ( A Key is immutable data type )
# - List []
# - Dict {}
# - set {}

In [ ]:
# Dict is not sequence data type
#- we cant perform indexing & slicing not allowed
#- it not possible concatenation, repetation

# Dict is mutable data type

b = {'Name': 'Sachin', 'Age': '47', 'City': 'Mumbai','Name_1': 'sachin'}

b ['Name_1'] = 'More'    # # Dict is mutable data type change is allowed
print(b,type(b))

In [ ]:
A = [ 'SACHIN',47, 'MUMBAI']
print('NAME', A[0])
print('AGE', A[1])
print('CITY', A[2])

In [ ]:
A = [ 'SACHIN',47, 'MUMBAI']
print('NAME', A[0])
print('AGE', A[1])
print('CITY', A[2])

In [ ]:
A = [ 47, 'MUMBAI',"SACHIN"]  # THIS DATA IS WORNG # IF LOCATION NOT CORRECT POSITION WHEN DATA WILL BE WORNG
print('NAME', A[0])
print('AGE', A[1])
print('CITY', A[-1])

In [ ]:
B = {'Age': 47,'City': 'Mumbai','Name':'Sachin'} # No effect if location change in dictionary
print('NAME', B['Name'])
print('AGE', B['Age'])
print('CITY', B['City'])

# Extracting Data

In [ ]:
a = [1,2,3,4,[5,6],7]

a [4][1]

In [ ]:
f= {'a': {'Name':'Sachin','Age': 47},
"b":{'Name':'Megha','Age': 40},
'c': {'Name':'Kavya','Age': 12},
'd': {'Name':'Ridham','Age': 10}}

f['c']['Age']
print('+++++++')

f['c']
f['c']['Age']

In [ ]:
# out want who name age is less than 20

Tree= {'a': {'Name':'Sachin','Age': 47},
"b":{'Name':'Megha','Age': 40},
'c': {'Name':'Kavya','Age': 12},
'd': {'Name':'Ridham','Age': 10}}

for i in Tree:
    if  Tree[i]['Age'] <=20:
        print(Tree[i]['Name'])

In [ ]:

# out want who name age is less than 40 and more than 10

Tree= {'a': {'Name':'Sachin','Age': 47},
"b":{'Name':'Megha','Age': 40},
'c': {'Name':'Kavya','Age': 12},
'd': {'Name':'Ridham','Age': 10}}

for i in Tree:
    if  10 <= Tree[i]['Age'] <= 40:
        print(Tree[i]['Name'])

In [ ]:
# want the out put whoes name of emp salary more than equal to >= 25000/-

Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 22700},
            'Emp_2': {'Name':'Daksh','Age': 23,'Salary': 25000},
            'Emp_2': {'Name':'Selva','Age': 32,'Salary': 27500},
            'Emp_2': {'Name':'Priti','Age': 27,'Salary': 20000}}

for x in Emp_Data:
  if Emp_Data[x] ['Salary']>=25000:
    print(Emp_Data [x]['Name'])

In [ ]:
a = "output want who name age is\nless than 40 and more than 10" # \n use for new line (\n use between is \n less)
print(a)

In [ ]:
a = "output want who name age is\tless than 40 and more than 10" # \t use for Tab space
print(a)

In [ ]:
b = "output want who name age is  \bless than 40 and more than 10" # \b use for back space
print(b)

In [ ]:
b = "output want who name age is  \rless than 40 and more than 10" # \r use for remove the carriage
print(b)

In [ ]:
a = '    today is python class      ' # strip use for remove the white space both the sife  beging & end string
print(a)
print(a.strip())

In [ ]:
a = '    today is python class   a   ' # lstrip use for remove the white space letf side
print(a)
print(a.lstrip())

In [ ]:
a = '    today is python class   a   ' # rstrip use for remove the white space right side
print(a)
print(a.rstrip())

In [ ]:
 b =  'money'
c = b

b.ljust(9,"*")
print= (len(b))

In [ ]:
a = ['today', 'is',  'python' , 'class']
c = ' '.join(a)
print(c)
print('---->')
print(len(c))

In [ ]:
del print

In [ ]:
a = 'today is python class'
a.replace('today','tomorrow')

In [ ]:
x = 'today is python class'
y = 'i am going to bandra'
a = y.split()
b= x.split()
print(b)
print(a)
z = ' '.join(a+b)
print(z)
d = z.split()
print(d)
f = ' '.join(d)
print(f)
aa = dict(zip(b,a))
print(aa)
aa['class']

# Methods of Dictionary
# There are 3 function help us add or access items inside dictionary.
- get
- setdefault
- update

# get function- get()
- First is key is present or inside in dictionry
- Second is key not present or inside in dictionary

* when using function get() you can not moditfy or insert item change in dict

In [ ]:
# get function- get()
#-If is key is present or inside in dictionry.
#- when you have using get function and key is present or inside in dict output extract particular keys value.

Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}
Emp_Data.get('Emp_3')   #- when you have using get function and key is present or inside in dict output extract particular keys value.

In [ ]:
# get function- get()
#-If is key is not present or inside in dictionry.
#- when you have using get function and key is not output by default always None
Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}
print(Emp_Data.get('Emp_4'))   #- when you have using get function and key is not present or inside in dict output by default always None

In [ ]:
# get function- get()
#-If is key is not present or inside in dictionry.
#- when you have using get function and key is not prnsent or inside in dict want custom output tpye something is output
Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}
print(Emp_Data.get('Emp_5', 'if serching emp in data but output not found'))   #-  key is not prnsent or inside in dict want own custom message type

# Setdefault function- setdefault()
- First is key is present or inside in dictionry
- Second is key not present or inside in dictionary
- if key is not present or not isede in dictionary out put is None but create new record in dictionary.
* when using function setdefault() you can not moditfy or insert item change in dict

In [ ]:
Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}
Emp_Data['Emp_3']['Age']

In [ ]:
# Setdefault function- setdefault()
#-If is key is present or inside in dictionry.
#- when you have using setdefault function and key is present or inside in dict output extract particular keys value.

Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}

print(Emp_Data.setdefault('Emp_3'))   #- when you have using setdefault function and key is present or inside in dict output extract particular keys value.

In [ ]:
# Setdefault function- setdefault()
#-If is key is not present or not inside in dictionry.
#- when you have using setdefault function and key is not present or not inside in dict output by default None but create new record in dictionary

Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}

print(Emp_Data.setdefault('Emp_5'))
print(Emp_Data) # when you have using setdefault function and key is not present or not inside in dict output None but create new record in dictionary

In [ ]:
# Setdefault function- setdefault()
#-If is key is not present or not inside in dictionry.
#- when you have using setdefault function and key is not present or not inside in dict output want custom message and create new record in dictionary

Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}

print(Emp_Data.setdefault('Emp_7',{'Name':'New Emp','Age': 00,'Salary': 00000}))
print(Emp_Data) # when you have using setdefault function and key is not present or not inside in dict want output Cutom messgae and create new record in dictionary

for x in Emp_Data:
    print(Emp_Data[x],['Name'],['Age'],['Salary'])

# Update function
- when you have using update function cearte new itema or insert new item as well as modify items

In [ ]:
# use Update finction for adding some records


Family_Member = {'FM_1': {'Name':'Megha','Age': 40,'Profession': 'Homemaker'},
            'FM_2': {'Name':'Kavya','Age': 12,'Profession':'Student'}}

New_Member = {'FM_3': {'Name':'Sachin','Age': 47,'Profession': 'Service'},
            'FM_4': {'Name':'Ridham','Age': 10,'Profession':'Student'}}

Family_Member.update(New_Member)
Family_Member

In [ ]:
Family_Member = {'FM_1': {'Name': 'Megha', 'Age': 40, 'Profession': 'Homemaker'},
 'FM_2': {'Name': 'Kavya', 'Age': 12, 'Profession': 'Student'},
 'FM_3': {'Name': 'Sachin', 'Age': 47, 'Profession': 'Service'},
 'FM_4': {'Name': 'Ridham', 'Age': 10, 'Profession': 'Student'}}
Family_Member.setdefault('FM_5',{'Name': 'Shalan', 'Age': 60, 'Profession': 'Nothing'})
print(Family_Member)

In [ ]:

# use Update function for modify or changes in item
{'FM_1': {'Name': 'Megha', 'Age': 40, 'Profession': 'Homemaker'},
 'FM_2': {'Name': 'Kavya', 'Age': 12, 'Profession': 'Student'},
 'FM_3': {'Name': 'Sachin', 'Age': 47, 'Profession': 'Service'},
 'FM_4': {'Name': 'Ridham', 'Age': 10, 'Profession': 'Student'}}

b = {'FM_2': {'Name': 'Kavya', 'Age': 77, 'Profession': 'Student'},
 'FM_3': {'Name': 'Sachin', 'Age': 999, 'Profession': 'Service'}}

a.update(b)
print(a)

In [ ]:
F1 ={'FM_1': {'Name': 'Megha', 'Age': 40, 'Profession': 'Homemaker'},
 'FM_2': {'Name': 'Kavya', 'Age': 12, 'Profession': 'Student'},
 'FM_3': {'Name': 'Sachin', 'Age': 47, 'Profession': 'Service'},
 'FM_4': {'Name': 'Ridham', 'Age': 10, 'Profession': 'Student'}}


print(len(F1))         # len(F1)      ----> 4 # use len for count
print(len(F1)+1)       # len(F1)+1     ---> 5 # add for new emp
print(str(len(F1)+1))  # str(len(F1)+1)---> '5' # convert form int to str
print('FM_')           # FM_          ---> want int this formate
print('------->')
'FM_'+str(len(F1)+1)   #  output using concatenation
print('FM_'+str(len(F1)+1))
print('------>')

a = f'FM_{len(F1)+1}'  # using formating
print(a,type(a))

In [ ]:

Company_Emp_Data = {'Emp_1': {'Name': 'Megha', 'Age': 40, 'Salary': 9200, 'Dept':'Collections'},
 'Emp_2': {'Name': 'Kavya', 'Age': 12, 'Salary': 35000, 'Dept':'Sale'},
 'Emp_3': {'Name': 'Sachin', 'Age': 47, 'Salary': 49500, 'Dept':'Oprations'},
 'Emp_4': {'Name': 'Ridham', 'Age': 10, 'Salary': 72500, 'Dept':'Credit'}}

str(len(Company_Emp_Data)+1) # convent from int to str

print('Emp_'+str(len(Company_Emp_Data)+1)) # using concatenation
print('------------->')

New_Emp_Data = f'Emp_{len(Company_Emp_Data)+1}' # using formating
print(New_Emp_Data,type(New_Emp_Data))
print('------------->')

In [ ]:
# key : New_Emp_Data = f'Emp_{len(Company_Emp_Data)+1}' # using formating

# collect input from user
Name = input('Enter Your Name : ')
Age = int(input('Enter Your Age : '))
Salary = int(input('Enter Your Salary : '))
Dept = input('Enter Your Dept : ')

Company_Emp_Data.update({New_Emp_Data:{'Name':Name,'Age':Age,'Salary':Salary,'Dept':Dept}}) # using proper syntax
print(Company_Emp_Data)
for x in Company_Emp_Data:
    print(Company_Emp_Data[x]['Name'])

In [ ]:
Company_Emp_Data = {'Emp_1': {'Name': 'Megha', 'Age': 40, 'Salary': 9200, 'Dept':'Collections'},
 'Emp_2': {'Name': 'Kavya', 'Age': 12, 'Salary': 35000, 'Dept':'Sale'},
 'Emp_3': {'Name': 'Sachin', 'Age': 47, 'Salary': 49500, 'Dept':'Oprations'},
 'Emp_4': {'Name': 'Ridham', 'Age': 10, 'Salary': 72500, 'Dept':'Credit'}}

str(len(Company_Emp_Data)+1) # convent from int to str

print('Emp_'+str(len(Company_Emp_Data)+1)) # using concatenation
print('------------->')

New_Emp_Data = f'Emp_{len(Company_Emp_Data)+1}' # using formating
print(New_Emp_Data,type(New_Emp_Data))
print('------------->')

# key : New_Emp_Data = f'Emp_{len(Company_Emp_Data)+1}' # using formating

# collect input from user
Name = input('Enter Your Name : ')
Age = int(input('Enter Your Age : '))
Salary = int(input('Enter Your Salary : '))
Dept = input('Enter Your Dept : ')

Company_Emp_Data.update({New_Emp_Data:{'Name':Name,'Age':Age,'Salary':Salary,'Dept':Dept}}) # using proper syntax
print(Company_Emp_Data)

# Methods to remove the items from dictionary
- Pop function :- pop()
- Popitem fuctions :- popitem ()

In [ ]:
# Pop function :- pop()
#- It remove items according to key.
#- What ever item it remove returns output his value only.
#- It is remove particular item user want anything between inside dictionary
#- Only one item remove at time

Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}

print(Emp_Data.pop('Emp_2')) #- particular item it remove returns his value only.
print('--------->')
print(Emp_Data)

In [ ]:
# Popitem function :- pop()
#- popitem () is always remove last item of dictionary.
#- last item of dictionary remove returns the output both key & his value.
#- try to remove items between anything item of dictionary not allowed


Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}

print(Emp_Data.popitem('Emp_2')) # try to remove items between anything item of dictionary not allowed error
print('--------->')
print(Emp_Data)

In [ ]:
# Popitem function :- pop()
#- popitem () is always remove last item of dictionary.
#- last item of dictionary remove returns the output both key & his value.
#- try to remove items between anything item of dictionary not allowed


Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}

print(Emp_Data.popitem()) # only remove last item of dictionary and aslo returns both the key& value
print('--------->')
print(Emp_Data)

# Extract
#- Key ()
#- Value ()
#- item ()

In [ ]:
# Extract keys only
Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000}}
print(Emp_Data.keys())
print(type(Emp_Data.keys()))

In [ ]:
# Extract value only
Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000}}
print(Emp_Data.values())
print(type(Emp_Data.keys()))

In [ ]:
# Extract items both the keys & his value
Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000}}
print(Emp_Data.items())
print(type(Emp_Data.keys()))

In [ ]:
# Extract the name and Emp Id of those Emp name stared with S

Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}

for x in Emp_Data:
    if Emp_Data[x]['Name'][0] == 'S':
        print(x,Emp_Data[x]['Name'])
print('---------->')

for a , b in Emp_Data.items():
    if b['Name'].lower().startswith('s'):

        print(a,b['Name'])

In [ ]:
# Extract the name and Emp Id of those Emp name stared with S

Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}

for x in Emp_Data:
    if Emp_Data [x]['Name'].startswith('S'):
        print(x,Emp_Data[x]['Name'])

print('------>')

In [ ]:
Emp_Data = {'Emp_1': {'Name':'Salahudin','Age': 43,'Salary': 52000},
            'Emp_2': {'Name':'Daksh','Age': 27,'Salary': 28000},
            'Emp_3': {'Name':'Sachin','Age': 47,'Salary': 22900}}

for a , b in Emp_Data.items():
    if b['Name'].lower().startswith('s'):

        print(a,b['Name'])

In [ ]:
# Ex EMP remove the name and stored another dictionary

Company_Emp_Data = {'Emp_1': {'Name': 'Megha', 'Age': 40, 'Salary': 9200, 'Dept':'Collections'},
 'Emp_2': {'Name': 'Kavya', 'Age': 12, 'Salary': 35000, 'Dept':'Sale'},
 'Emp_3': {'Name': 'Sachin', 'Age': 47, 'Salary': 49500, 'Dept':'Oprations'},
 'Emp_4': {'Name': 'Ridham', 'Age': 10, 'Salary': 72500, 'Dept':'Credit'}}#\

Ex_Emp= {}
A = input("Enter the  Name: ")

Ex_Emp.setdefault(A,Company_Emp_Data.pop(A))


print(Ex_Emp)
print(Company_Emp_Data)

In [ ]:
Company_Emp_Data = {'Emp_1': {'Name': 'Megha', 'Age': 40, 'Salary': 9200, 'Dept':'Collections'},
 'Emp_2': {'Name': 'Kavya', 'Age': 12, 'Salary': 35000, 'Dept':'Sale'},
 'Emp_3': {'Name': 'Sachin', 'Age': 47, 'Salary': 49500, 'Dept':'Oprations'},
 'Emp_4': {'Name': 'Ridham', 'Age': 10, 'Salary': 72500, 'Dept':'Credit'}}#\

Ex_Emp= {}                      # Create Ex EMP Dictinonary
A = input("Enter the  Name: ")  # key

B = Company_Emp_Data.pop(A)     # Value use pop for remove emp

Ex_Emp.setdefault(A,B)      # setdefault use for add emp

print(Ex_Emp)
print(Company_Emp_Data)

In [ ]:
# fromkeys function :- fromkeys ()
# use for fromkeys () for create direct dictionary and value by default is none if pass any vale consider

List = ['Name','Age','Salary'] # by defaults value is None
dict.fromkeys(List)
print(dict.fromkeys(List))

print('---------------->')


List_1  = ['Name','Age','Salary'] # if any value pass it will be consider
dict.fromkeys(List_1, 1200)

In [ ]:
 # add function :- add() use for add element inside dictionary

 abc = { "b", "c" , "d" }
 abc.add("h")
 print(abc)

print('--------->')

 a = { "b", "c" , "d" }
 a.add("h")
 print(a)

# Set {}
# - Anything Wiritten inside curly Bracket and each element are seprated by comma
# - it contain only unique value of data
# - It is not allows duplicate value data

In [ ]:
a = { 32,45,546,32}
print(a)  # - It is not allows duplicate value data

 # Properties of Set

 * Set is not sequence data type hence indexing ,scling, not aalow and not allows basic opratoes function concatetination,repetion ect.
 * Collection of Unique value of data (It is not allows duplicate value data)
 * A set can not contain an mutable data type( not allow set inside list,dict,set)
 * A Set mutable data type  ( it allows typle,str,complex,float,int,boolean)

In [ ]:
#  * Set is not sequence data type hence indexing ,scling, not alows and not allows basic opratoes function concatetination,repetion ect.
a = { 32,45,546,32, 654,25}

a[-2] # Error - not sequence data type hence indexing ,scling, not allow

In [ ]:
#  Collection of Unique value of data (It is not allows duplicate value data)

a = { 32,45,546,32, 654,25,32}
print(a)

In [ ]:
# A set Can not contain mutable data type ( not allow set inside list,set,dictionary)
a = { 32,45,546,32,{62,7} ,654,25,32} # unhashable type: 'set'
print(a)

In [ ]:
a = { 32,45,546,32,[62,78] ,654,25,32} # a = { 32,45,546,32,[62,78] ,654,25,32}
print(a)

In [ ]:
a = { 32,45,546,32,{'ABC':62,'PAR':78} ,654,25,32} #  unhashable type: 'dict'
print(a)

In [ ]:
# A set mutable data type ( it allows typle,str,complex,float,int,boolean)

a = { 32,45,546,32,(62,78) , "abc",41.25,654,25,32,1+2j}
print(a)

In [ ]:
a = { 32,45,546,32,(62,78) , "abc",41.25,654,25,32,1+2j}
b = {1,15,75,"pqr","abc",546,41,32}

a & b # Coman element present inside both the dictionary

In [ ]:
A = { 32,45,546,32,(62,78) , "abc",41.25,654,25,32,1+2j}
b = {1,15,75,"pqr","abc",546,41,32}

A - b # duplicated value of list A not allows and not in output

In [ ]:
A = { 32,45,546,32,(62,78) , "abc",41.25,654,25,32,1+2j}
B = {1,15,75,"pqr","abc",546,41,32}

B-A # duplicated value of list B not allows and not in output

In [ ]:
A = { 32,45,546,32,(62,78) , "abc",41.25,654,25,32,1+2j}
B = {1,15,75,"pqr","abc",546,41,32}

A | B  # uncoman total no of  element is output but duplicate element not allow

In [ ]:
# find out total No of Emp in both the set

Dept1 = {'emp1','emp3','emp5','emp7','emp6','emp8'}


Dept2 = {'emp1','emp2','emp5','emp6','emp8','emp9'}

print('------->')

print(Dept1 | Dept2)   # find out total No of Emp in both the set or total no elements

print('----->')

print(Dept2 - Dept1) # find out No of Emp working in particular Dept2  or total no elements in dept2

print('----->')


Dept2 & Dept1 # find out coman emp working bothe dept the dept

# Conditional Statement

- if
- else
- elif

In [ ]:
# If

# stat1
# stat2
# if condition 1 :
     # stat3
     # stat4
# stat5
# stat6

# if condition true contiue work : 1,2,3,4,5,6
# if condition False contiue work : 1,2,5,6

stat1 = 1
stat2 = 2
print('Python')
if stat1 > stat2: # condition false

   print('c++')
print('mon db')

In [ ]:
 # If

# stat1
# stat2
# if condition 1 :
     # stat3
     # stat4
# stat5
# stat6

# if condition true contiue work : 1,2,3,4,5,6
# if condition False contiue work : 1,2,5,6

stat1= 1
stat2 = 2
print(' anc')
if stat1< stat2: # condition Ture

   print('abc')
print('pqr')

In [ ]:
# else ( if condition is false I want to run some part of logic)

# stat1
# stat2
# if condition 1 :
     # stat3
     # stat4
# else
     # stat 7
     # stat 8
# stat5
# stat6

# if condition true contiue work : 1,2,3,4,5,6
# if condition False contiue work : 1,2,7,8,5,6

stat1= 10
stat2 = 30
print('data')
if stat1 < stat2: # condition Ture

   print('python')
   print('java')
else:
   print('c')     # when condition True not print this line
   print('c++')   # when condition True not print this line
print('Sciemce')

In [ ]:
# else ( if condition is false I want to run some part of logic)

# stat1
# stat2
# if condition 1 :
     # stat3
     # stat4
# else
     # stat 7
     # stat 8
# stat5
# stat6

# if condition true contiue work : 1,2,3,4,5,6
# if condition False contiue work : 1,2,7,8,5,6

stat1= 10
stat2 = 30
print('data')
if stat1 >  stat2: # condition False

   print('python')   # when condition True not print this line
   print('c++')     # when condition True not print this line
   print('java')
else:
   print('c')
   print('c++')
print('Sciemce')

In [ ]:
stat1= 10
stat2 = 30
print('data')
if stat1 >  stat2: # condition False

   print('python')   # when condition True not print this line
   print('c++')     # when condition True not print this line
   print('java')
if stat1 == stat2: # condition False

   print('ABC')   # when condition True not print this line
   print('xyz')     # when condition True not print this line
if stat1 < stat2: # condition True

   print('Name')   # when condition True not print this line and this line code belong ro above right it
   print('Age')     # when condition True not print this line  and this line code belong ro above right it
else:
   print('EMP')
   print('id')
print('Sciemce')

In [ ]:
stat1= 10
stat2 = 30
print('data')
if stat1 >  stat2: # condition False

   print('python')   # when condition True not print this line
   print('c++')     # when condition True not print this line
   print('java')
if stat1 == stat2: # condition False

   print('ABC')   # when condition True not print this line
   print('xyz')     # when condition True not print this line
if stat1 <= stat2: # condition True

   print('Name')   # when condition True not print this line and this line code belong ro above right it
   print('Age')     # when condition True not print this line  and this line code belong ro above right it
else:
   print('EMP')
   print('id')
print('Sciemce')

In [ ]:
# elif

a = 100
b = 200
print("Python")

if a < b:  # T
  print( 'Java')
elif a != b: # T
   print( 'SOL')
elif a != b: # T
   print('Mongo DB')
elif a == b: # f
   print('Big Data')

print('Hello World')

In [ ]:
a = 100
b = 200
print("Python")

if a > b:  # F
  print( 'Java')
elif a != b: # T
   print( 'SOL')
elif a != b: # T
   print('Mongo DB')
elif a == b: # f
   print('Big Data')

print('Hello World')

In [ ]:
a = eval(input("Enter the value of a: "))

if a > 5 or a < 1:
    print("number out of range")
else:
    if a == 1:
      print("one")
    elif a == 2:
      print("two")
    elif a == 3:
     print("three")
    elif a == 4:
     print("four")
    elif a == 5:
     print('five')
    else:
     print("Invalid number")

In [ ]:
# WAP
# Enter a Number between 1 -5 output want 1 --- in Words One,2---Two,3 ---Three,4---Four,5---Five

# Enter a Number any other number else 1 -5 output want  --- "number out of range"

# Enter in float output want --- "Invalid number"

a = eval(input("Enter the value of a: "))


if a == 1:
   print("One")
elif a == 2:
   print("Two")
elif a == 3:
   print("Three")
elif a == 4:
   print("Four")
elif a == 5:
   print('Five')
else:
   if a > 5 or a < 1:
    print("number out of range")
   else:
      if type(a)==float:
        print("Invalid number")

In [ ]:
 # WAP
# Enter a Number between 1 -5 output want 1 --- in Words One,2---Two,3 ---Three,4---Four,5---Five

# Enter a Number any other number else 1 -5 output want  --- "number out of range"

# Enter in float output want --- "Invalid number"

a = eval(input("Enter the value of a: "))


if a == 1:
   print("One")
elif a == 2:
   print("Two")
elif a == 3:
   print("Three")
elif a == 4:
   print("Four")
elif a == 5:
   print('Five')
else:
  if a > 5 or a < 1:
    print('Number out of range')
  else:
      print("Invalid number")

In [ ]:
# Basic Calculation
# Collect 3 input from user
#- -----> Enter the first No -10
# - -----> Enter the Second No -20
# perform (+,-,*,/) or (add,sub,mul,division)

# Method 1
Num_1 = input('Enter the No:')
Num_2 =input('Enter the No:')

Oper = input('Enter the op:')

Add = eval(Num_1+Oper+Num_2) # Other oper alos +,-,*,/

print(Add,type(Add))

In [ ]:
# Basic Calculation
# Collect 3 input from user
#- -----> Enter the first No -10
# - -----> Enter the Second No -20
# perform (+,-,*,/) or (add,sub,mul,division)

# Method 2
Num_1 = int(input('Enter the No:'))
Num_2 =int(input('Enter the No:'))

Oper = input('Enter the op:').lower()

if  Oper == '+' or Oper == 'add':
   print(Num_1+Num_2 ) # Other oper +
elif ( Oper == '-' or Oper == 'sub'):
   print(Num_1-Num_2 ) # Other oper -
elif ( Oper == '*' or Oper == 'mul'):
   print(Num_1*Num_2 ) # Other oper *
elif Oper == '/' or Oper == 'div':
   print(Num_1/Num_2 ) # Other oper *
else:
  print("invalid Opreations")